<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ page_heading }} | Park-Manager</title>
</head>

<body>
<h1>Park-Manager<br>{{ page_heading }}</h1>

{% if error|default('') is not empty %}
<div>{{ error|raw }}</div>
{% endif %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div>{{ message|raw }}</div>
    {% endfor %}
{% endfor %}

{% block content %}{% endblock content %}
</body>
</html>
